<footer>
    <div class="main-container">
        <div class="foot-con">
            <div class="foot-con1">
                <h3>information</h3>
                <p>#workforfuture is a platform for  those worker that work on per day, per week or per monthly. 
                    this is the plateform for those who are always ready to work</p>
            </div>
            <div class="foot-con2">
                <h3>about us</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="foot-con3">
                <h3>follow us</h3>
                <div class="social-buttons">
                    <a href="#" class="social">
                    <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" class="social">
                    <i class="fa fa-linkedin"></i>
                    </a>
                    </a>
                    <a href="#" class="social">
                    <i class="fa fa-github"></i>
                    </a>
                </div>                      
            </div>
            <div class="foot-con4">
                <h3>scan</h3>
                <img src="/static/Info.png" alt="">
            </div>
        </div>
        <div class="foot-credit">
            <h3>All Rights Reserved 2022</h3>
        </div>
    </div>
</footer>
