<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USer Profile</title>
</head>
<body>
    <div class="main-container1">
        <div class="sub-con">
            <div class="con-1">
                <img src="" alt="">
                <h1>UserName</h1>
                <h2>usedID</h2>
            </div>
            <div class="con-1">
                <ul>
                    <li>Employee Name:</li>
                    <li>Field:</li>
                    <li>Expreaince:</li>
                    <li>Address:</li>
                    <li>Contact No</li>
                </ul>
        </div>
    </div>
</body>
</html>